@model OwaspSAMM.DAL.IndustryTarget

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>IndustryTarget</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Industry.IndustryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Industry.IndustryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Section.SectionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section.SectionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndustryTargetScoreValue.Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndustryTargetScoreValue.Score)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
