@model OwaspSAMM.DAL.UserData

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>User Data</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.UserID)

        <div class="form-group">
            @Html.LabelFor(model => model.UserNTID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("UserNTID", Model.UserNTID, htmlAttributes: new { @class = "col-md-2", @readonly = "readonly" })
                @*@Html.EditorFor(model => model.UserNTID)
                @Html.ValidationMessageFor(model => model.UserNTID)*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserDomain, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("UserDomain", Model.UserDomain, htmlAttributes: new { @class = "col-md-2", @readonly = "readonly" })
                @*@Html.EditorFor(model => model.UserDomain)
                @Html.ValidationMessageFor(model => model.UserDomain)*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ManagerID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ManagerID)
                @Html.ValidationMessageFor(model => model.ManagerID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MgrLastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MgrLastName)
                @Html.ValidationMessageFor(model => model.MgrLastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MgrFirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MgrFirstName)
                @Html.ValidationMessageFor(model => model.MgrFirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ManagerEID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ManagerEID)
                @Html.ValidationMessageFor(model => model.ManagerEID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BusinessUnit, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BusinessUnit)
                @Html.ValidationMessageFor(model => model.BusinessUnit)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.OrgName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrgName)
                @Html.ValidationMessageFor(model => model.OrgName)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Administrator, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Administrator)
                @Html.ValidationMessageFor(model => model.Administrator)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BUOwner, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BUOwner)
                @Html.ValidationMessageFor(model => model.BUOwner)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
    
    @* These fields are included here and hidden because the view needs to return them to the controller.  If they
    are omitted from the View, then null values will be returned and saved to the table when the changes are saved. *@
    @Html.HiddenFor(model => model.LastLoginDate)
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
